body {
  font-family: serif, sans-serif;
}

input[type="text"] {
  padding: 12px 20px;
  margin: 19px 0;
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  padding: 11px 40px;
  font-size: 14px;
}

select {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
